/* Google Fonts */

@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&family=Merienda:wght@300..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Shrikhand&display=swap');

/* Asterisk wildcard selector to override default styles added by the browser */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;;
}

/* General styles */

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;

}

/* Make main element take up any surplus space to push footer down */
main {
    flex: 1 0 auto;
}

/*  CSS Variables */
:root {
    --primary-font: 'Shrikhand' regular;
    --secondary-font: 'Montserrat';
    --primary-color: #f0205b;
    --secondary-color: #800160;
    --highlight-color: #ff9473;
    --highlight-color-light: #f37499;
    --background-colour: #ebe5e7;
}

h1 {
    font-family: var(--primary-font);
    color: var(--primary-color);
    text-align: center;
    padding: 20px;
    
}

h2 {
    font-family: var(--primary-font);
    color: var(--primary-color);
    text-align: center;
    padding: 20px;
}

h3 {
    font-family: var(--primary-font);
    color: var(--secondary-color);
    text-align: center;
    padding: 20px;

}

p {
    font-family: var(--secondary-font);
    color: var(--secondary-color);
    text-align: center;
    
}

.p-white-bg {

    font-family: var(--secondary-font);
    color: var(--secondary-color);
    text-align: center;
}


.sub-heading-color {
    background-color: var(--highlight-color);
}

.container,
.row {
    background-color: #ffffff;
    margin-top: 20px;

}

.col-12 {
    
    background-color: lightgrey;
}

.col-5 {
    
    background-color: lightgrey;
}

/* --------------------------------------- NAVBAR LAYOUT ------------------------------------------------*/


.main-nav {
    display: flex;
    flex-grow: 0;
    justify-content: space-between; /* left, center, right */
    align-items: center;            /* vertical alignment */
    background-color: #fff;
    padding: 1px 30px;
    z-index: 99;
    position: relative;
    width: 100%;
    box-shadow: 0 2px 7px #800160;
}

/* Hide the checkbox */
#nav-toggle {
    display: none;
}

/* Hide burger icon on desktop */
.nav-toggle-label {
    display: none;
    font-size: 1.5rem;
    cursor: pointer;
}

/* LEFT: menu */

.nav-menu {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
}

.nav-menu a {
    text-decoration: none;
    font-family: var(--secondary-font);
    color: var(--secondary-color);
    font-weight: 500;
}

.nav-menu a:hover,
.nav-menu a.active {
    color: var(--primary-color);
}

/* CENTER: logo */
.logo img {
    height: 80px;
    display: block;
}

/* RIGHT: icons */
.nav-icons {
    display: flex;
    gap: 5px;
}

.icon-link, .nav-icons, icon-link {
    color: var(--secondary-color);
    font-size: 1.2rem;
    padding: 10px;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.icon-link:hover, .nav-icons:hover {
    color: var(--primary-color);
}

/* MOBILE / TABLET NAV  */
@media (max-width: 992px) {

    .main-nav {
        flex-wrap: wrap;
        justify-content: space-between;
    }

    /* Show burger icon */
    .nav-toggle-label {
        display: block;
        color: var(--secondary-color);
        margin-right: 10px;
    }

    /* Put burger + logo on the top row */
    .nav-toggle-label,
    .logo {
        order: 1;
    }

    /* Put icons on the right in the top row */
    .nav-icons {
        order: 2;
    }

    /* Menu goes full width below */
    .nav-menu {
        order: 3;
        width: 100%;
        flex-direction: column;
        gap: 5px;
        margin-top: 2px;
        display: none;          
        background-color: #fff;
        padding: 2px 0;
    }

    .nav-menu li {
        text-align: left;
        padding: 0 20px;
    }

    /* When checkbox is checked, show the menu */
    #nav-toggle:checked + .nav-toggle-label + .nav-menu {
        display: flex;
    }
}

/* --------------------------------------- Home page ------------------------------------------------*/

/* Feedback  */

.feedback-container {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    
}

.feedback-card {

    width: 50%;
    padding-top: 10px;
    margin: 0;
    border-radius: 10px;
    font-size: 0.75em;
    border: 1px solid #f0205b;
    box-shadow: 1px 5px #ebe5e7;
    
    
}


#feedback-sign {
    font-size: 0.6rem;

}

i {
    color: #ff9473;
}

/* Reasons */

.reasons-container {
    justify-items: left;
    justify-content: space-between;
    gap: 10px;

}


.card {
    width: 100%;
    
    margin: 0;
    font-size: 1rem;
    margin-bottom: 20px;;
    background-color: #800160;
    
}

.card-icon {
    color: #ebd0d8;
    
}

.reasons-container > h2 {
    color: #f0205b
}

.card-title > h3, p {
    color: #ebd0d8;
}

/* --------------------------------------- Gallery page ------------------------------------------------*/

#row-photos img {
    width: 100%;
    line-height: 1em;
}

#row-photos {
    line-height: 0;
}

/* Media query: large or landscape phones (576px and up) */
@media screen and (min-width: 576px) {
    #row-photos {
        column-count: 2;
        column-gap: 0;
    }
}

/* Media query: tablets and larger (768px and up) */
@media screen and (min-width: 768px) {
    #row-photos {
        column-count: 3;
    }
}

/* Large devices (laptops and desktops, 992px and up) */
@media screen and (min-width: 992px) {
    #row-photos {
        column-count: 4;
    }
}

/* --------------------------------------- FOOTER LAYOUT ------------------------------------------------*/


/* Maps */

#map-wrapper {
    
    width: 100%;
    height: 367px;
    background-color: #ebe5e7;
    border: 0;
    
}


/* Contains links */
.container-footer {
    
    width: 100%;
    background-color: #ebe5e7;
    padding: 5px;
}

/* Links style */
.nav-link {
    color: #800160;

}

/* Contains info */
.footer-info {
    
    width: 100%;
    background-color: #ebe5e7;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 10px;
    gap: 8px;
    
    
}

/* Style of footer info */
.footer-info2 {
    font-family: var(--secondary-font);
    font-size: 12px;
    
    
}





