/* Google Fonts */

@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&family=Merienda:wght@300..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Shrikhand&display=swap');

/*  CSS Variables */
:root {
    --primary-font: 'Shrikhand';
    --secondary-font: 'Montserrat';
    --primary-color: #f0205b;
    --secondary-color: #800160;
    --highlight-color: #ff9473;
    --highlight-color-light: #f37499;
    --background-colour: #ebe5e7;
}

h1 {
    font-family: var(--primary-font);
    color: var(--primary-color);
    
}

p {
    font-family: var(--secondary-font);
    color: var(--secondary-color);
    border: 2px solid var(--secondary-color);
}

.sub-heading-color {
    background-color: var(--highlight-color);
}

.container,
.row {
    border: 1px solid beige;

}

.col-12 {
    border: 1px solid rebeccapurple;
    background-color: lightgrey;
}

.col-5 {
    border: 1px solid rebeccapurple;
    background-color: lightgrey;
}

/* NAVBAR LAYOUT */

.main-nav {
    display: flex;
    flex-grow: 0;
    justify-content: space-between; /* left, center, right */
    align-items: center;            /* vertical alignment */
    background-color: #fff;
    padding: 1px 30px;
    z-index: 99;
    position: relative;
    width: 100%;
    box-shadow: 0 2px 7px #800160;
}

/* Hide the checkbox (we only use it for state) */
#nav-toggle {
    display: none;
}

/* Hide burger icon on desktop */
.nav-toggle-label {
    display: none;
    font-size: 1.5rem;
    cursor: pointer;
}

/* LEFT: menu */

.nav-menu {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
}

.nav-menu a {
    text-decoration: none;
    font-family: var(--secondary-font);
    color: var(--secondary-color);
    font-weight: 500;
}

.nav-menu a:hover,
.nav-menu a.active {
    color: var(--primary-color);
}

/* CENTER: logo */
.logo img {
    height: 80px;
    display: block;
}

/* RIGHT: icons */
.nav-icons {
    display: flex;
    gap: 5px;
}

.icon-link, .nav-icons, icon-link {
    color: var(--secondary-color);
    font-size: 1.2rem;
    padding: 10px;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.icon-link:hover, .nav-icons:hover {
    color: var(--primary-color);
}

/* MOBILE / TABLET NAV  */
@media (max-width: 992px) {

    .main-nav {
        flex-wrap: wrap;
        justify-content: space-between;
    }

    /* Show burger icon */
    .nav-toggle-label {
        display: block;
        color: var(--secondary-color);
        margin-right: 10px;
    }

    /* Put burger + logo on the top row */
    .nav-toggle-label,
    .logo {
        order: 1;
    }

    /* Put icons on the right in the top row */
    .nav-icons {
        order: 2;
    }

    /* Menu goes full width below */
    .nav-menu {
        order: 3;
        width: 100%;
        flex-direction: column;
        gap: 5px;
        margin-top: 2px;
        display: none;          
        background-color: #fff;
        padding: 2px 0;
    }

    .nav-menu li {
        text-align: left;
        padding: 0 20px;
    }

    /* When checkbox is checked, show the menu */
    #nav-toggle:checked + .nav-toggle-label + .nav-menu {
        display: flex;
    }
}


/* Footer */

/* Contains links */
.container-footer {
    position: fixed;
    width: 100%;
    bottom: 67px;
    background-color: #ebe5e7;
    box-shadow: 2px 0 7px #800160;
    padding: 5px;
}

/* Links style */
.nav-link {
    color: #800160;

}

/* Contains info */
.footer-info {
    position: fixed;
    width: 100%;
    bottom: 0px;
    background-color: #ebe5e7;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 10px;
    gap: 8px;
    
    
}

/* Style of footer info */
.footer-info2 {
    font-family: ver(--secondary-font);
    font-size: 12px;
    
    
}





