/* Google Fonts */

@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&family=Merienda:wght@300..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Shrikhand&display=swap');

/* Asterisk wildcard selector to override default styles added by the browser */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #ffffff !important;
}

/* Make main element take up any surplus space to push footer down */

main {
    flex: 1 0 auto;
}

/*  CSS Variables */

:root {
    --primary-font: 'Shrikhand' regular;
    --secondary-font: 'Montserrat';
    --primary-color: #f0205b;
    --secondary-color: #800160;
    --highlight-color: #ff9473;
    --highlight-color-light: #f37499;
    --background-colour: #ebe5e7;
}

h1 {
    font-family: var(--primary-font);
    color: var(--primary-color);
    text-align: center;
    padding: 20px;

}

h2 {
    font-family: var(--primary-font);
    color: var(--primary-color);
    text-align: center;
    padding: 20px;
}

h3 {
    font-family: var(--primary-font);
    color: var(--secondary-color);
    text-align: center;
    padding: 20px;

}

h4 {

    font-family: var(--primary-font);
    color: var(--secondary-color);
    text-align: center;
    padding: 20px;
}

h5 {

    font-family: var(--primary-font);
    color: var(--secondary-color);
    text-align: center;
    padding: 10px;
}

h6 {

    font-family: var(--primary-font);
    color: var(--secondary-color);
    text-align: center;
    padding: 10px;
}

p {
    font-family: var(--secondary-font);
    color: var(--secondary-color);
}

.text-center {
    text-align: center;
}


.p-white-bg {

    font-family: var(--secondary-font);
    color: var(--secondary-color);
    text-align: center;
}


.sub-heading-color {
    background-color: var(--highlight-color);
}

.container,
.row {
    background-color: #ffffff;
}

.col-12 {

    background-color: #ffffff;
}

.col-6 {

    background-color: #ffffff;
}

/* --------------------------------------- NAVBAR LAYOUT ------------------------------------------------*/


/* === Main nabar container === */
.main-nav {
    display: flex;
    flex-grow: 0;
    justify-content: space-between;
    /* left, center, right */
    align-items: center;
    /* vertical alignment */
    background-color: #fff;
    padding: 1px 30px;
    z-index: 99;
    position: relative;
    width: 100%;
    box-shadow: 0 2px 7px #800160;
}

/* Hide the checkbox */
#nav-toggle {
    display: none;
}

/* Hide burger icon on desktop */
.nav-toggle-label {
    display: none;
    font-size: 1.5rem;
    cursor: pointer;
}

/* === LEFT: menu === */

.nav-menu {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-menu a {
    text-decoration: none;
    font-family: var(--secondary-font);
    color: var(--secondary-color);
    font-weight: 500;
}

.nav-menu a:hover,
.nav-menu a.active {
    color: var(--primary-color);
}

/* === CENTER: logo === */
.logo img {
    height: 80px;
    display: block;
}

/* === RIGHT: icons ===*/
.nav-icons {
    display: flex;
    gap: 5px;
}

.icon-link,
.nav-icons,
icon-link {
    color: var(--secondary-color);
    font-size: 1rem;
    padding: 2px;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.icon-link:hover,
.nav-icons:hover {
    color: var(--primary-color);
}



/* MOBILE / TABLET NAV  */
@media (max-width: 992px) {

    .main-nav {
        flex-wrap: wrap;
        align-items: line;
    }

    /* Show burger icon */
    .nav-toggle-label {
        display: block;
        color: var(--secondary-color);
        margin-right: 5px;
    }

    /* Put burger + logo on the top row */
    .nav-toggle-label,
    .logo {
        order: 1;
    }

    /* Put icons on the right in the top row */
    .nav-icons {
        order: 2;
    }

    /* Menu goes full width below */
    .nav-menu {
        order: 3;
        width: 100%;
        flex-direction: column;
        gap: 5px;
        margin-top: 2px;
        display: none;
        background-color: #fff;
        padding: 2px 0;
    }

    .nav-menu li {
        text-align: left;
        padding: 0 20px;
    }

    /* When checkbox is checked, show the menu */
    #nav-toggle:checked+.nav-toggle-label+.nav-menu {
        display: flex;
    }
}


/* MOBILE EXTRA SMALL NAV  */
@media (max-width: 400px) {


    .main-nav {
        padding: 4px 8px;
    }

    .logo img {
        height: 60px;
    }

    .nav-icons {
        gap: 5px;
    }

    .icon-link {
        font-size: 1rem;
        padding: 2px 3px;
    }

    .nav-menu {
        gap: 2px;
        padding: 5px;
    }

    .nav-toggle-label i {
        font-size: 1.2rem;
    
    }

    /* Show burger icon */
    .nav-toggle-label {
        display: block;
        color: var(--secondary-color);
    }

    /* Put burger + logo on the top row */
    .nav-toggle-label,
    .logo {
        order: 1;
    }

    /* Put icons on the right in the top row */
    .nav-icons {
        order: 2;
    }

    /* Menu goes full width below */
    .nav-menu {
        order: 3;
        width: 100%;
        flex-direction: column;
        gap: 5px;
        margin-top: 2px;
        display: none;
        background-color: #fff;
        padding: 2px 0;
    }

    .nav-menu li {
        text-align: left;
        padding: 0 20px;
    }

    /* When checkbox is checked, show the menu */
    #nav-toggle:checked+.nav-toggle-label+.nav-menu {
        display: flex;
    }
}

/* --------------------------------------- Home page ------------------------------------------------*/

/* Audio */

.audio-section {
    margin: 20px auto;
    padding: 10px 20px;
    text-align: center;
}

.audio-player {
    display: block;
    margin: 10px auto 0;
    width: 100%;
    max-width: 320px;
}

/* Feedback section */

.feedback-container {
    display: flex;
    justify-content: space-between;
    gap: 10px;

}

.feedback-card {

    width: 50%;
    padding-top: 10px;
    margin: 0;
    border-radius: 10px;
    font-size: 0.75em;
    border: 1px solid #f0205b;
    box-shadow: 1px 5px #ebe5e7;


}

.feedback-card p {
    text-align: center;
}

#feedback-sign {
    font-size: 0.6rem;

}

i {
    color: #ff9473;
}

/* Reasons section*/

.reasons-container {
    justify-items: left;
    justify-content: space-between;
    gap: 10px;
    margin-top:20px;

}

.card {
    width: 100%;
    align-items: center;
    margin: 0;
    margin-bottom: 20px;
    font-size: 1rem;
    background-color: #800160;
}

.card-icon {
    color: #ebd0d8;
}

.reasons-container>h2 {
    color: #f0205b
}

.card-title>h3, .card .card-text p {
    color: #ebd0d8;
    text-align: center;
}


/* Place an order section */

.container-order {
  width: 100%;
  background-color: #fdfdfd;
  display: flex;
  flex-direction: column;
  align-items: center; 
  gap: 20px;           
  padding: 20px 0;
}

.steps-image {
    width: 100%;
    background-image: url('../images/desk1.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
  justify-content: center;   
  align-items: center;       
  padding: 40px 0;           
  border-radius: 10px; 
 
}
.row-list-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 90%;
    margin: 0;
    
    
}

.row-list {

    width:100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    border: 1px solid #ffffff;
    background-color: #fff9fbe5;
    color: #420332;
}

.row-list-left {
    flex: 0 0 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
}


.row-list-middle {
    flex: 0 0 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
}

.row-list-right {
    flex: 0 0 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
}

.row-list-text {
    color: #800160;
    padding: 5px;
    font-weight: 400;
}

.button-color {
    background-color: #f0205b;
    border: 2px solid #c70c63;
    color: #ffffff;
    font-weight: 570;
    margin-bottom: 20px;
}

/* Create the book section - icons */

.container-button {
    margin-top: 30px;
    margin-bottom: 30px;
}

.icon-hands {
    font-size: 2rem;
    color: #800160
}

/* Question and contact us section */

.question-home-container img {
    width: 100%;
    height: auto;
    display: block;
}


.question-home-container {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 5px;
}

.title-question {
    display: flex;
    flex-direction: column;
    padding: 20px 10px;
    align-items: center;
  
}

#title-question-p {
    color:#800160;
    font-weight: 400;
    text-align: center;
}

.question-cards {
    margin-top: auto;
    display: flex;
    width: 70%;
    justify-content: center;
    gap: 10px;
}

.btn-outline-warning {
     background-color: #ec2860;
    border: 2px solid #c70c63;
    color: #ffffff;
    font-weight: 570;
    margin-bottom: 20px;

}

/* Opening times and address */

/* Contact Section Layout */
.contact-section {
  margin-top: 40px;
  margin-bottom: 40px;
}

/* Cards for address and times */
.contact-card {
  background-color: #ffffff;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Icon */
.contact-icon {
  color: var(--primary-color);
  font-size: 2rem;
  margin-bottom: 10px;
}

.text-contact-home {
    color: var(--primary-color);
    font-weight: 500;
}

/* Table for times */
.opening-hours {
  width: 100%;
  max-width: 260px;
  margin: 10px auto 5px;
  border-collapse: collapse;
}

.opening-hours th,
.opening-hours td {
  padding: 4px 8px;
  font-family: var(--secondary-font);
  color: var(--secondary-color);
  text-align: left;
}

.opening-hours th {
  font-weight: 600;
}

.opening-hours tr + tr {
  border-top: 1px solid #f0d0dc;
}

.opening-note {
  font-size: 0.8rem;
  margin-top: 8px;
  color: var(--secondary-color);
}

/* --------------------------------------- Form page -------------------------------------------------- */

/* Title */

.form-title-text {
    color: #800160;
    background-color: #800160;
    border-radius: 10px;
    padding: 10px;
    margin: 2px;
    font-weight: 500;
    
}

.form-section {
    
    border-radius: 10px;
    border: 1px solid #ff9473;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2px;
    margin: 2px;
}

.form-box {
    background-color: #8001607d;
    border-radius: 10px;
}



/* --------------------------------------- Gallery page ------------------------------------------------*/

.container-gallery {
    width: 100%;
    padding: 0;
    margin: 0;
}

.row-photos {
    column-count: 1;
    column-gap: 2px;
}

.row-photos img {
    width: 100%;
    display: block;
    padding: 5px;

}



.gallery-text-p {
    color: #800160;
    text-align: center;
}

/* Media query: large or landscape phones (576px and up) */
@media screen and (min-width: 576px) {
    .row-photos {
        column-count: 2;
    }
}

/* Media query: tablets and larger (768px and up) */
@media screen and (min-width: 768px) {
    .row-photos {
        column-count: 3;
    }
}

/* Large devices (laptops and desktops, 992px and up) */
@media screen and (min-width: 992px) {
    .row-photos {
        column-count: 4;
    }
}

/* --------------------------------------- ABOUT US page ------------------------------------------------*/

.about-us-title-container {
    width: 100%;
}

.about-us-title-p {
    color:#800160;
    padding: 10px;
}

.about-us-title-container > img {
    width: 100%;
}

.card-about-us {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid #ff9473;
    border-radius: 10px;
    box-shadow: 1px 5px #f0205b;
    padding: 5px;
    margin: 20px;

}


.about-us-card-p {
    color:#800160;
    padding-top: 10px;
    padding-left: 5px;
    padding-right: 5px;
}

.mini-card {
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}

.small-picture-card {
    width: 50%;
    padding: 10px;
}
/* --------------------------------------- FOOTER LAYOUT ------------------------------------------------*/


/* Maps */

#map-wrapper {

    width: 100%;
    height: 320px;
    background-color: #ebe5e7;
    border: 0;
}



/* Contains links */
.container-footer {

    width: 100%;
    background-color: #ebe5e7;
    padding: 5px;
}

/* Links style */
.nav-link {
    color: #800160;
    padding: 2px 8px;
    font-size: 0.9rem;
}

/* Contains info */
.footer-info {

    width: 100%;
    background-color: #ebe5e7;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 10px;
    gap: 8px;
}

/* Style of footer info */
.footer-info2 {
    font-family: var(--secondary-font);
    font-size: 12px;
}
